@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "colors";
// variables
$header-height: 70px;
// general reset
body {
  @extend .bg-one;
}
div, section, ul {
  height: 100%;
}
ul {
  list-style-type: none;
  li {
    text-align: center;
    a {
      @extend .color-clear;
      &.active {
        @extend .color-hi;
      }
    }
  }
}
header {
  position: fixed;
  height: $header-height;
  @extend .bg-base;
}
footer {
  height: $header-height;
  @extend .bg-base;
}
//
#heroscreen {
  height: 100vh;
}
//
.logo {
  padding: 16px 0;
}
.ha {
  height: auto;
}
.copyright {
  @extend .color-clear;
  text-align: center;
}
