@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "colors";
// variables
$header-height: 70px;
// general reset
body {
  @extend .bg-one;
}
div, section, ul {
  height: 100%;
}
ul {
  list-style-type: none;
  li {
    text-align: center;
    a {
      @extend .color-clear;
      &.active {
        @extend .color-hi;
      }
    }
  }
}
header {
  position: fixed;
  height: $header-height;
  @extend .bg-base;
}
footer {
  height: $header-height;
  @extend .bg-base;
}
button {
  @extend .bg-hi;
  @extend .color-clear;
  border: none;
  padding: 5px 28px;
  border-radius: 5px;
  font-size: 1.7em;
}
//
#heroscreen {
  height: 100vh;
}
//
.logo {
  padding: 16px 0;
}
.ha {
  height: auto;
}
.hero-title {
  margin-bottom: 56px;
  font-size: 3.5em;
}
.hero-subtitle {
  margin-bottom: 56px;
  span {
    @extend .color-hi;
  }
}
.copyright {
  @extend .color-clear;
  text-align: center;
}
