$fa-font-path: "../webfonts/" !default;
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-brands.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-regular.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fa-solid.scss";
@import "bower_components/fontawesome/web-fonts-with-css/scss/fontawesome.scss";
@import "colors";
// variables
$header-height: 70px;
$font-1-1: "archia-regular-webfont.woff2";
$font-1-2: "archia-regular-webfont.woff";
$font-2-1: "raleway-bold-webfont.woff2";
$font-2-2: "raleway-bold-webfont.woff";
// fonts
@font-face {
  font-family: 'archiaregular';
  src: url($fa-font-path + $font-1-1 ) format('woff2'),
  url($fa-font-path + $font-1-2 ) format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'ralewaybold';
  src: url($fa-font-path + $font-2-1 ) format('woff2'),
  url($fa-font-path + $font-2-2 ) format('woff');
  font-weight: normal;
  font-style: normal;

}
//
// general reset
//
body {
  @extend .bg-one;
  div, section, ul {
    height: 100%;
    font-family: 'archiaregular', Arial, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'archiaregular', Arial, sans-serif;
    @extend .color-clear;
  }
  ul {
    list-style-type: none;
    li {
      text-align: center;
      font-family: 'archiaregular', Arial, sans-serif;
      a {
        font-family: 'archiaregular', Arial, sans-serif;
        &:hover {
          text-decoration: none;
          @extend .color-hi;
        }
        @extend .color-clear;
        &.active {
          @extend .color-hi;
        }
      }
    }
  }
  p {
    @extend .color-clear;
    font-family: 'archiaregular', Arial, sans-serif;
    font-size: 1.25em;
  }
}
header {
  position: fixed;
  height: $header-height;
  @extend .bg-base;
  z-index: 2;
  .logo {
    padding: 16px 0;
  }
  .navbar-nav {
    @extend .bg-base;
    // @if(.navbar-toggler:hidden == true) {
    //     &li {
    //       height: 45px;
    //   }
    // }
    // li {
    //   height: 40px;
    // }
  }
  .navbar-toggler {
    text-align: right;
    @extend .color-hi;
    &:hover {
      @extend .color-clear;
    }
  }

}
footer {
  min-height: $header-height;
  @extend .bg-base;
  .row {
    min-height: $header-height;
    .logo {
      padding: 16px 0;
      height: $header-height;
    }
  }
}
button, a.button {
  @extend .bg-hi;
  @extend .color-clear;
  border: none;
  padding: 5px 28px;
  border-radius: 5px;
  font-size: 1.7em;
}
a.button:hover {
  text-decoration: none;
  @extend .color-one;
}
//
#heroscreen {
  height: 100vh;
  padding-top:$header_height ;
}
#about {
  padding-top:$header_height ;
  padding-bottom:$header_height ;
}
#team {
  padding-top:$header_height ;
  padding-bottom:$header_height ;
}
//
.ha {
  height: auto;
}
.title {
  font-size: 2.5em;
  @extend .color-clear;
}
.hero-title {
  margin-bottom: 56px;
  font-size: 3.5em;
}
.hero-subtitle {
  margin-bottom: 56px;
  font-family: 'ralewaybold', Arial, sans-serif !important;
  span {
    @extend .color-hi;
  }
}
.social-title {
  margin-top: $header_height;
}
.team-member {
  padding: 2em;
  margin-bottom: 16px;
  .team-image {
    height: 180px;
    margin-bottom: 16px;
    .team-image-rounded {
      @extend .bg-hi;
      border-radius: 100px;
      height: 180px;
      width: 180px;
      @extend .mx-auto;
    }
  }
  .team-icons {
    height: 30px;
    @extend .text-center;
    margin-bottom: 16px;
    div.social-icon {
      display: inline-block;
    }
  }
}
.social-icons {
  height: 85px;
  @extend .text-center;
  margin-bottom: 16px;
  margin-top:$header_height/2;
  div.social-icon {
    display: inline-block;
  }
}
#faq {
  font-size: 0.8em;
  margin-bottom: $header_height;
  .title {
    margin-bottom: $header_height;
  }
  .faq-question {
    @extend .color-hi;
  }
  .faq-answer {

  }
}
#ico {
  padding-bottom: $header_height;
  .ico-logo {
    height: 45px;
    @extend .text-center;
    margin-bottom: 16px;
    margin-top:$header_height;
    div.ico-logo-img {
      display: inline-block;
    }
  }
  .ico-text {
    @extend .color-hi;
    font-size: 1.4em;
    margin-top:$header_height;
  }
  .goal {
    .goal-text {
      font-size: 1em;
      display: inline-block;
      margin-bottom: 5px;
    }
  }
  .ico-title {
    margin-top:$header_height/2;
    font-size: 1em;
    text-transform: uppercase;
  }
  .ico-graph {
    margin-top: $header_height;
    p.ico-graph-text {
      margin-bottom: $header_height/2;
    }
    .ico-graph-title {
      @extend .color-hi;
      font-size: 1.3em;
      // margin-bottom: $header_height/4;
    }
    .ico-graphic {
      height: 380px;
      margin-bottom: $header_height;
    }
    .bonus {
      padding-top: 10px;
      .bonus-sent {
        @extend .color-hi;
        font-size: 1em;
        padding-right: 50px;
        display: inline-block;
        margin-bottom: 0px;
      }
      .bonus-discount {
        font-size: 1em;
        padding-left: 35px;
        display: inline-block;
        margin-bottom: 0px;
      }
      .bonus-separator {
        @extend .ha;
        div {
          display: inline-block;
          @extend .ha;
        }
        .bonus-border {
          border: 1px solid $clear;
        }
      }
    }
  }
}
.copyright {
  @extend .color-clear;
  text-align: center;
}
.upper {
  text-transform: uppercase;
}
